
venv/
ENV/
env/
.env

__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/
nosetests.xml
coverage.xml
*.cover
*.log

.idea/
.vscode/
*.swp
*.bak

Thumbs.db
desktop.ini

appunti.txt
local_db.json

credentials.json
*-key.json
*service-account*.json
sistemidistribuiti-*.json

google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz
Progetto SDCC.docx
relazione/